node_modules/
web/
dist/
*.apk
*.aab
*.zip
*.jks
*.keystore
*.pem
.env
.env.*
local.properties
**/local.properties
.gradle/
**/.gradle/
**/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
.idea/
.DS_Store
Thumbs.db
